<div class="amzn-box">
    <div class="amzn-image">
        <a href="{{ amazon_url }}" target="_blank" rel="nofollow">
          <img src="{{ amazon_image }}" alt="{{ amazon_title }}"></a>
        <a href="{{ amazon_url }}" target="_blank" rel="nofollow">
        </a>
    </div>
    <div class="amzn-content">
        <p class="amzn-title">
            <a href="{{ amazon_url }}" target="_blank" rel="nofollow">
                {{ amazon_title }}
            </a>
        </p>
        <dl class="amzn-desc">
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.VIDEO.PRICE'|t}}
            </dt>
            <dd>
                <span class="amzn-price">{{ amazon_price }}</span> &nbsp; ({{ amazon_date }})
            </dd>
            {% if amazon_actor %}
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.VIDEO.ACTOR'|t}}
            </dt>
            <dd>
                {{ amazon_actor }}
            </dd>
            {% endif %}
            {% if amazon_director %}
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.VIDEO.DIRECTOR'|t}}
            </dt>
            <dd>
                {{ amazon_director }}
            </dd>
            {% endif %}
            {% if amazon_label %}
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.VIDEO.LABEL'|t}}
            </dt>
            <dd>
                {{ amazon_label }}
            </dd>
            {% endif %}
            {% if amazon_releaseDate %}
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.VIDEO.RELEASE_DATE'|t}}
            </dt>
            <dd>
                {{ amazon_releaseDate }}
            </dd>
            {% endif %}
            {% if amazon_runningTime %}
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.VIDEO.RUNNING_TIME'|t}}
            </dt>
            <dd>
                {{ amazon_runningTime }}{{ amazon_timeUnit }}
            </dd>
            {% endif %}
        </dl>
    </div>
</div>