<div class="amzn-box">
    <div class="amzn-image">
        <a href="{{ amazon_url }}" target="_blank" rel="nofollow">
          <img src="{{ amazon_image }}" alt="{{ amazon_title }}"></a>
        <a href="{{ amazon_url }}" target="_blank" rel="nofollow">
        </a>
    </div>
    <div class="amzn-content">
        <p class="amzn-title">
            <a href="{{ amazon_url }}" target="_blank" rel="nofollow">
                {{ amazon_title }}
            </a>
        </p>
        <dl class="amzn-desc">
            {% if amazon_price %}
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.BOOK.PRICE'|t}}
            </dt>
            <dd>
                <span class="amzn-price">{{ amazon_price }}</span> &nbsp; ({{ amazon_date }})
            </dd>
            {% endif %}
            {% if amazon_author %}
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.BOOK.AUTHOR'|t}}
            </dt>
            <dd>
                {{ amazon_author }}
            </dd>
            {% endif %}
            {% if amazon_publisher %}
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.BOOK.PUBLISHER'|t}}
            </dt>
            <dd>
                {{ amazon_publisher }}
            </dd>
            {% endif %}
            {% if amazon_publicationDate %}
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.BOOK.PUBLICATION_DATE'|t}}
            </dt>
            <dd>
                {{ amazon_publicationDate }}
            </dd>
            {% endif %}
        </dl>
    </div>
</div>