<div class="amzn-box">
    <div class="amzn-image">
        <a href="{{ amazon_url }}" target="_blank" rel="nofollow">
          <img src="{{ amazon_image }}" alt="{{ amazon_title }}"></a>
        <a href="{{ amazon_url }}" target="_blank" rel="nofollow">
        </a>
    </div>
    <div class="amzn-content">
        <p class="amzn-title">
            <a href="{{ amazon_url }}" target="_blank" rel="nofollow">
                {{ amazon_title }}
            </a>
        </p>
        <dl class="amzn-desc">
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.DEFAULT.PRICE'|t}}
            </dt>
            <dd>
                <span class="amzn-price">{{ amazon_price }}</span> &nbsp; ({{ amazon_date }})
            </dd>
            {% if amazon_brand %}
            <dt>
                {{'PLUGIN_AMAZON_PRODUCTS.DEFAULT.BRAND'|t}}
            </dt>
            <dd>
                {{ amazon_brand }}
            </dd>
            {% endif %}
        </dl>
    </div>
</div>